<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start w-25" id="demo">
  <div class="offcanvas-header text-bg-dark">
    <h5 class="offcanvas-title">
        <img class="icons" src="icons/user-white.png">
        Hello, Sign in
    </h5>
    <button type="button" class="btn-close text-reset text-bg-light" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <h6>Electronics</h6>
    <h6>Computers</h6>
    <h6>Smart Home</h6>
    <h6>Arts & Crafts</h6>
    <hr>
    <h6>Automotive</h6>
    <h6>Beauty & Perrsonal Care</h6>
    <h6>Fashion</h6>
    <h6>Health & Household</h6>
    <hr>
    <h6>Home & Kitchen</h6>
    <h6>Industrial & Scientific</h6>
    <h6>Tools & Home Improvement</h6>
    <button class="btn btn-secondary" type="button">SignIn</button>
  </div>
</div>