  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand row navbar-dark bg-color-gradient sticky-top">
    <!-- Button to open the offcanvas sidebar -->
    <div class="navbar-header col d-flex">
      <button class="btn btn-dark mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <img class="icons" src="icons/menu.svg">
      </button>
      <a class="navbar-brand" href="/"><img class="w-20" src="icons/logo.png" alt=""></a>
    </div>
    <!-- Search bar -->
    <div class="navbar-nav col">
      <div class="navbar-nav p-0 m-0" action="" name="search">
        <div class="input-group">
          <select name="category" id="cat-list" class="input-group-text form-select-sm w-10 text-start" >
            <option value="all">All</option>
            <option value="electronics">Electronics</option>
            <option value="computers">Computers</option>
            <option value="smart-home">Smart Home</option>
            <option value="arts-&-crafts">Arts & Crafts</option>
            <option value="automotive">Automotive</option>
            <option value="beaty-&-personal-care">Beauty & Personal Care</option>
            <option value="fashion">Fashion</option>
            <option value="Health & Household">Health & Household</option>
            <option value="Home & Kitchen">Home & Kitchen</option>
            <option value="industrial & scientific">Industrial & Scientific</option>
            <option value="tools & home improvement">Tools & Home Improvement</option>
            <option value="Sports & Outdoors">Sports & Outdoors</option>
          </select>
          <input type="text" id="searchBox" class="form-control searchBox" placeholder="Search">
          <button class="btn btn-warning" onclick="searchProducts()">
            <img class="icons" src="icons/search.png">
          </button>
        </div>
      </div>
    </div>
    <!-- Sign in & Cart -->
    <ul class="navbar-nav col justify-content-end">
      <li class="nav-item dropdown p-0 m-0 my-auto"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><img class="icons" src="icons/user-white.png"></a>
        <ul class="dropdown-menu dropdown-menu-end rounded-0">
            <li class=""><a class="dropdown-item" href="#">Sign In</a></li>
            <li><a class="dropdown-item" href="#">Sign Up</a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="">
              <a class="dropdown-item" href="/orders">Orders & Returns</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Kazakhstan</a></li>
            <li><a class="dropdown-item" href="#">Change Location</a></li>
        </ul>
      </li>
      <!--
      <li class="nav-item"><a class="nav-link" href="#"><img class="icons" src="./icons/signup.png"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      -->
      <li class="nav-item p-0 m-0 my-auto">
        <a class="nav-link" href="/checkout">
          <div class="btn position-relative  p-0 m-0 my-auto cart-container">
            <img class="cart-icon" src="icons/cart.png">
            <span class="cart-quantity position-absolute rounded-1 bg-warning p-1 text-wrap" style="top:-10px; left:15px; right:15px">25</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>