/* font sizing variables*/
:root{
  --fontsize-h1: max(calc(35px + 0.4vw),35px);
  --fontsize-h2: max(calc(28px + 0.4vw),28px);
  --fontsize-h3: max(calc(20px + 0.4vw),20px);
  --fontsize-h4: max(calc(15px + 0.4vw),15px);
  --fontsize-h5: max(calc(10px + 0.4vw),10px);
} 

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
p {
  padding: 10px;
  margin: 0;
}

.main-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 0;
  height: 100%;
}

.section-title {
  background-color: rgb(250, 250, 250);
  margin: auto;
  text-align: center;
  padding: 1vw;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.section-title:hover {
  font-weight: 400;
}
.title {
  font-size: var(--fontsize-h1);
}
.sub-title {
  font-size: var(--fontsize-h4);
}

.navigator {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px #adadad;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.navigation-links { /* links container */
  border-top: 1px solid gray;
}

.navigation-links img {
  margin-right: 1vw;
  display: inline;
}

.links {
  display: flex;
  align-items: center;
  font-size: var(--fontsize-h4);
  padding: 0.62vw;
  background-color: rgb(255, 255, 255);
}

.links:hover {
  background-color: rgb(221, 221, 221);
  border-left: 0.5vw solid rgb(0, 97, 0);
  font-weight: bold;
}

.right-container {
  padding: 0;
  background-color: rgba(231, 231, 231, 0.7);
}

.section-title2 {
  display: none;
  margin: 1vw auto;
  padding: 0;
  width: 70%;
  text-align: center;
  align-items: center;
  transition: all 1.5s linear 0.1s;
}

.section-title2 .section-title {
  font-size: var(--fontsize-h2);
}

.background {
  height: 100vh;
  width: 100%;
}

.background-container {
  position: relative;
}

.background-text {
  position: absolute;
  top: 20%;
  left: 15%;
  background-color: rgba(41, 41, 41, 0.9);
  color: white;
  padding: 2vw;
  font-size: var(--fontsize-h1);
  border-left: 10px solid rgb(1, 134, 79);
}

.span1 {
  background-color: rgb(1, 134, 79);
  padding: 3px;
}

.span2 {
  border-bottom: 5px solid rgb(1, 134, 79);
  padding-bottom: 1px;
  margin: 0;
}

.section-heading{
  font-family: 'Raleway', sans-serif;
  font-size: var(--fontsize-h1);
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding: 20px 2.5vw;
  background-color: rgb(1, 134, 79);
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
  /*
  background-image: linear-gradient(to right, rgba(1, 0, 90, 0.8),rgba(200, 200, 200, 0.7));
  */
}
.section-heading:hover{
  font-weight: bold;
}

.about-block, .skills-block, .experience-block, .projects-block, .academics-block, .contacts-block {
  width: 80%;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(230, 230, 230, 0.8);
  margin: 15px auto;
  padding: 15px;
  box-shadow: 2px 2px #adadad;
  transition: all 0.5s linear 0.1s;
}

.about-statement {
  padding: 5px;
  margin: 0 15px 1vw;
  font-size: var(--fontsize-h2);
  background-color: rgb(212, 212, 212);
  border-left: 5px solid rgb(1, 134, 79);
}

.about-text {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: var(--fontsize-h2);
  color: black;
}

/* skills & competencies */
.skills-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(160, 160, 160);
  color: rgb(0, 0, 0);
  padding: 1vw;
  margin: 0;
  font-size: var(--fontsize-h2);
}

.skills-item {
  font-size: 18px;
  margin: 15px;
}

.skills-item:hover {
  background-color: rgba(255, 255, 255, 0.664);
}

.skills-item img {
  width: 6vw;
  max-height: 6vw;
  min-width: 60px;
  min-height: 60px;
  margin: 0 0 -1vw;
}

#technical-skills .skills-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}

.experience-footing, .academics-footing {
  display: flex;
  text-align: justify;
  text-overflow: ellipsis;
  padding-top: 10px;
  border-top: 1px solid gray;
  flex-direction: row;
}

.experience-heading, .academics-heading {
  border-bottom: 1px solid gray;
  padding: 0 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* vertically align items */
} 

/* wrapper for company name & logo */
.experience-company-logo {
  display: flex;
  align-items: center;
}

.experience-position, .experience-company, .academics-position, .academics-location {
  color: rgb(23, 6, 175);
  font-size: var(--fontsize-h3);
}

.company-logo {
  width: 80px;
  height: 60px;
}

.experience-responsibilities, .academics-achievements {
  color: black;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin: 0;
  padding: 10px 0;
}

.bullet, .list-item {
  padding: 10px;
  font-size: var(--fontsize-h3);
  text-align: justify;
  line-height: 30px;
}

.experience-time-period, .academics-period {
padding: 0 1vw;
border-right: 1px solid gray;
font-size: var(--fontsize-h4);
}

.experience-location {
  padding: 0 1vw;
  font-size: var(--fontsize-h4);
  }

.work-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1vw 1vw;
}

.work-skills-item {
  background-color: whitesmoke;
  color: black;
  margin: 10px;
  padding: 10px 15px;
  font-size: var(--fontsize-h4);
  box-shadow: 3px 1px blue;
}

.work-skills-item:hover {
  background-color: rgb(218, 218, 218);
}

.contacts {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: var(--fontsize-h3);
  margin: 3vh auto;
}

.contacts img {
  margin: 0 20px;
  width: 40px;
}

@media (max-width:900px){
  /*Hide navigator*/
  .left-container {
    display: none;
  }
  /*Display title on top*/
  .section-title2 {
    display: flex;
  }

  .about-block, .skills-block, .experience-block, .projects-block, .academics-block, .contacts-block {
    width: 90%;
  }
  .main-container {
    display: flex;
  }
  .about-statement, .about-text {
    font-size: var(--fontsize-h3);
  }
  .experience-responsibilities, .academics-achievements {
    font-size: var(--fontsize-h5);
  }
}

.active {
  background-color: rgb(221, 221, 221);
  font-weight: 600;
  border-left: 0.5vw solid rgb(0, 97, 0);
}
