:root{
  --fontsize-h1: calc(30px + 0.39vw);
  --fontsize-h2: calc(18px + 0.39vw);
  --fontsize-h3: calc(10px + 0.39vw);
  --fontsize-h4: calc(9px + 0.39vw);
} 

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

.main-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 0;
  height: 100%;
}

.section-title {
  background-color: rgb(250, 250, 250);
  margin: auto;
  text-align: center;
  padding: 1vw;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.section-title:hover {
  font-weight: 400;
}
.title {
  font-size: var(--fontsize-h1);
}
.sub-title {
  font-size: var(--fontsize-h3);
}

.navigator-links img {
  padding-right: 0.6vw;
  display: inline;
}

.navigator {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*
  background-image: linear-gradient(to left,rgba(0, 0, 90, 0.8),rgba(200, 200, 200, 0.7)); 
  */
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px #adadad;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.navigation-links { /* links container */
  border-top: 1px solid gray;
}

.links {
  display: flex;
  align-items: center;
  padding: 0.62vw;
  background-color: rgb(255, 255, 255);
}

.links img {
  margin: 0 1vw;
}

.links:hover {
  background-color: rgb(221, 221, 221);
  border-left: 0.5vw solid rgb(0, 97, 0);
  font-weight: bold;
}

.right-container {
  padding: 0;
  background-color: rgba(231, 231, 231, 0.7);
}

.about-text {
  width: 70%;
  margin: 1vw auto;
  text-align: justify;
  padding: 30px;
  font-size: var(--fontsize-h2);
  background-color: rgb(255, 255, 255);
}

.about-text:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 1s linear 0.1s;
}

.about {
  margin: 0 auto;
}

.section-heading{
  font-family: 'Raleway', sans-serif;
  font-size: var(--fontsize-h1);
  font-weight: 200;
  color: rgb(255, 255, 255);
  padding: 1.5vw 2.5vw;
  background-color: rgb(1, 134, 79);
  /*
  background-image: linear-gradient(to right, rgba(1, 0, 90, 0.8),rgba(200, 200, 200, 0.7));
  */
}
.section-heading:hover{
  font-weight: 400;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-item {
  background-color: rgba(110, 154, 236, 0.596);
  color: whitesmoke;
  border-radius: 0.62vw;
  margin: 0.3vw;
  padding: 0.3vw 0.6vw;
  font-size: var(--fontsize-h3);
}

.skills-item:hover {
  background-color: rgb(75, 129, 230);
}

.skills-grid {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  */
  width: 70%;
  margin: auto;
  align-items: center;
}
.skills-box {
  margin: 2vw 0;
}
.skill-item:hover {
  background-color: rgb(245, 245, 245);
}

/* skills & competencies */
.skills-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(160, 160, 160);
  color: rgb(0, 0, 0);
  padding: 1vw;
  margin: 0;
  font-size: var(--fontsize-h2);
}

.skills-block {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 1vw;
  border-radius: 0 0 0.3vw 0.3vw;
  transition: all 0.5s linear 0.1s;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-item {
  font-family: monospace;
  font-size: 18px;
  margin: 1vw;
  padding: 1vw;
}

.skill-item img {
  width: 6vw;
  max-height: 6vw;
  margin: 1vw 0 -1vw;
}

.experience-block, .academics-block {
  width: 70%;
  background-color: rgba(255, 255, 255, 1);
  border: 0.2vw solid rgba(230, 230, 230, 0.8);
  margin: 2vw auto;
  box-shadow: 2px 2px 2px 2px #adadad;
  transition: all 0.5s linear 0.1s;
}

.experience-block ul, .academics-block ul {
  padding-left: 15px;
}

.section-title2 {
  display: none;
}

@media (max-width:900px){
  .experience-block, .academics-block, .contacts-container, .about-text, .projects-block {
    width: 100%;
  }
  .skills-grid {
    display: block;
    width: 60%;
    margin: auto;
  }
  .main-container {
    display: flex;
  }
  .left-container {
    display: none;
  }
  .section-title2 {
    padding: 16px 16px 0;
    display: block;
    margin: auto;
  }
}

.experience-block:hover, .academics-block:hover {
  background-color: rgb(255, 255, 255);
  transition: all 0.5s linear 0.1s;
}

.experience-col-left, .academics-col-left {
  display: flex;
  text-align: justify;
  text-overflow: ellipsis;
  padding: 1vw;
  border-top: 1px solid gray;
  flex-direction: row;
}

.experience-heading, .academics-heading {
  border-bottom: 1px solid gray;
  padding: 1vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.experience-heading img {
  width: 5vw;
  height: 3vw;
  vertical-align: middle;
}

.experience-col-right, .academics-col-right {
  padding: 0.62vw;
  text-overflow: ellipsis;
}

.experience-responsibilities, .academics-achievements {
  padding: 1.25vw;
  color: black;
  display: block;
  margin: 0;
}

.experience-position, .experience-company, .academics-position, .academics-location {
  color: rgb(23, 6, 175);
  font-size: var(--fontsize-h2);
  padding: 0 1vw;
}

.experience-time-period, .academics-period {
padding: 0 1vw;
border-right: 1px solid gray;
font-size: var(--fontsize-h4);
}

.experience-location {
  padding: 0 1vw;
  font-size: var(--fontsize-h4);
  color: rgb(0, 0, 177);
}

.experience-col-right li, .academics-col-right li {
  font-size: var(--fontsize-h4);
}

.projects-block{
  width: 70%;
  margin: 1vw auto;
  padding: 1vw;
  background-color: white;
}

.footer {
  padding: 0.8vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.footer-title {
  padding: 0.62vw 0.62vw;
}

.footer-content {
  padding: 0.62vw 0;
}

.contacts-container {
  background-color: rgba(255, 255, 255,0.9);
  border: 0.2vw solid rgba(173, 173, 173, 0.301);
  padding: 3.75vw 1.25vw 6.25vw;
  width: 70%;
  margin: 1vw auto;
  transition: all 0.5s linear 0.1s;
}

.contacts-container:hover{
  background-color: rgba(255, 255, 255,1);
  transition: all 0.5s linear 0.1s;
}

.contacts {
  display: flex;
  align-items: center;
  padding: 0 1.25vw;
  font-size: var(--fontsize-h3);
  margin: 2.8vh auto;
}

.contacts-container img {
  padding: 0 1.5vw;
}

.active {
  background-color: rgb(221, 221, 221);
  font-weight: 600;
  border-left: 0.5vw solid rgb(0, 97, 0);
}
