<div class="container-fluid">
  <div class="row">
    <!-- Product Images -->
    <div class="col-4">
      <div class="row">
        <!-- thumbnails -->
        <div class="col w-25">
          <img class="img-thumbnails" src="../images/products/intermediate-composite-basketball.jpg" alt="">
          <img class="img-thumbnails" src="../images/products/intermediate-composite-basketball.jpg" alt="">
          <img class="img-thumbnails" src="../images/products/intermediate-composite-basketball.jpg" alt="">
          <img class="img-thumbnails" src="../images/products/intermediate-composite-basketball.jpg" alt="">
        </div>
        <!-- Expanded Image -->
        <div class="col w-75">
          <img class="img-expanded" src="../images/products/intermediate-composite-basketball.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- Product Details -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <!-- Product Name -->
          <h3>Intermediate Size Basketball</h3>
          <h6>Ratings Stars</h6><h6>Ratings Count</h6><h6>Reviews</h6><h6>Brand/Manufacturer Link</h6>
        </div>
        <div class="card-body">
          <h4>Price</h4>
          <h4>Shipping Availability</h4>
          <h3>Product Options</h3>
          <h4>Color</h4>
          <h4>Size</h4>
          
          <h4>About this item</h4>
          Product Description
        </div>
      </div>
    </div>
    <!-- Summary & Checkout -->
    <div class="col-2">
      <div class="card">
        Price Summary
        Import
        <div class="btn btn-warning my-3">Add to Cart</div>
        <div class="btn btn-warning my-3">Checkout</div>
      </div>
    </div>
  </div>
</div>