/* Full Document Settings */
*{
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Verdana, Geneva;
  background-color: rgb(228, 227, 227);
}
.icons {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 1s;
}
.icons:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.list-name-container {
  min-width: 350px;
  width: 60%;
  margin: 40px auto 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 4px black;
}

/* Application Title Section */
.title {
  font-size: 40px;
  font-weight: 300;
  padding: 10px 0;
  color: #001c49;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(10, 0, 148);
}

.title img {
  width: 50px;
  margin-left: 20px;
}

/* Display and Create Lists Section*/
.lists-container {
  display: grid;
  grid-template-columns: 1fr 13fr;
  column-gap: 10px;
}

/* Left Column "plus" button */
.create-list-plus img {
  margin-top: 5px;
  cursor: pointer;
  width: 40px;
}

/* Right Column Create/Display */
/* Create new list row */
.create-list {
  display: none;
  margin: 5px 0 0;
  justify-content: center; /*horizontal*/
}

.input-list-name {
  font-size: 15px;
  height: 45px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgb(226, 223, 223);
}

.input-list-button {
  background-color: rgba(14, 0, 90, 0.822);
  color: white;
  border: none;
  width: 100px;
  padding: 7px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 1s;
}

.input-list-button:hover {
  background-color: rgba(26, 0, 170, 0.822);
  transition: all 1s;
}

/* display 1 List */
.display-list {
  display: flex;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: rgb(181, 219, 174);
  align-items: center;
  transition: all 1s;
}

.display-list:hover {
  background-color: rgba(80, 221, 80, 0.678);
  transition: all 1s;
}

.list-name {
  width: 95%;
}

.edit-list-name, .edit-item-name {
  flex: 1;
  border: none;
  background-color: none;
  font-size: inherit;
  padding: 10px;
  margin: 0 10px;
  width: 70%;
  background-color: rgb(208, 228, 204);
}

/* Todo List Main Container */
.active-list-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

/* Container for each list */
.list-container{
  min-width: 350px;
  max-width: 60%;
  flex: 1;
  margin: 20px;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px black;
}

.todo-input-grid  {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  align-items: center;
  padding: 5px 15px;
}

.todo-item-open {
  background-color: rgba(216, 255, 223, 0.747);
  text-decoration: none;
}

.todo-item-done {
  text-decoration: line-through;
  background-color: rgba(93, 241, 118, 0.747);
}

.todo-item-description{
  flex: 2;
  padding: 0 10px;
}
.todo-item-duedate {
  flex: 1;
}


.todo-item-open:hover {
  background-color: rgba(184, 255, 231, 0.884);
}

.todo-item-done:hover {
  background-color: rgba(79, 206, 100, 0.747);
}

.todo-grid {
  margin: 10px 0;
}

.name-input, .due-date-input {
  font-size: 15px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: rgb(216, 233, 255);
}

.name-input{
  flex: 3;
}
.due-date-input {
  flex: 1;
  border-left: 1px solid black;
}

.add-todo-button {
  flex: 1;
  background-color: rgba(61, 36, 204, 0.822);
  color: white;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  align-self: center;
  padding: 10px 0;
}

.todolist-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 4px solid blue;
}

@media (max-width:900px){

}
