:root {
  --clr-bg-stone-50: rgb(250 250 249);
  --clr-bg-stone-100: rgb(245 245 244);
  --clr-green-100: #dcfce7;
  --clr-green-200: #bbf7d0;
  --clr-blue-100: #dbeafe;
  --clr-blue-200: #bfdbfe;
  --clr-green-300: #86efac;
  --clr-green-400: #4ade80;
}

/* Full Document Settings */
*{
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Verdana, Geneva;
  margin: 0;
  padding: 20px 0;
  background-color: var(--clr-bg-stone-100);
}
.icons {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 1s;
}
.icons:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.list-name-container {
  min-width: 350px;
  width: 60%;
  margin: 40px auto 20px;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  /* box-shadow: inset 1px 2px black; */
}

/* Application Title Section */
.title {
  font-size: 40px;
  font-weight: 300;
  padding: 10px 0;
  color: #001c49;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(10, 0, 148);
}

.title img {
  width: 50px;
  margin-left: 20px;
}

/* Display and Create Lists Section*/
.lists-container {
  display: grid;
  grid-template-columns: 1fr 13fr;
  column-gap: 10px;
}

/* Left Column "plus" button */
.create-list-plus img {
  margin-top: 5px;
  cursor: pointer;
  width: 40px;
}

/* Right Column Create/Display */
/* Create new list row */
.create-list {
  display: none;
  margin: 5px 0 0;
  justify-content: center; /*horizontal*/
  align-items: center;
  background-color: var(--clr-bg-stone-50);
}

.input-list-name {
  font-size: 15px;
  height: 45px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--clr-bg-stone-50);
}

.input-list-button {
  cursor: pointer;
  transition: all 1s;
}

.input-list-button:hover {
  transition: all 1s;
}

/* display 1 List */
.display-list {
  display: flex;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: var(--clr-green-100);
  align-items: center;
  transition: all 1s;
}

.display-list:hover {
  background-color: var(--clr-green-200);
  transition: all 1s;
}

.list-name {
  width: 95%;
}

.edit-list-name, .edit-item-name {
  flex: 1;
  border: none;
  background-color: none;
  font-size: inherit;
  padding: 10px;
  margin: 0 10px;
  width: 70%;
  background-color: var(--clr-bg-stone-50);
}

/* Todo List Main Container */
.active-list-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Container for each list */
.list-container{
  min-width: 350px;
  max-width: 500px;
  width: 60%;
  margin: 30px;
  background: white;
  padding: 10px;
  border: 1px solid gray;
  /* box-shadow: 2px 2px black; */
}

.todo-input-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: var(--clr-bg-stone-50);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 0;
  align-items: center;
}

.todo-item-open {
  background-color: var(--clr-blue-100);
  text-decoration: none;
}
.todo-item-open:hover {
  background-color: var(--clr-blue-200);
}

.todo-item-done {
  text-decoration: line-through;
  background-color: var(--clr-green-200);
}
.todo-item-done:hover {
  background-color: var(--clr-green-400);
}

.todo-item-description{
  flex: 2;
  padding: 0 10px;
}
.todo-item-duedate {
  flex: 1;
}

.todo-grid {
  margin: 10px 0;
}

.name-input, .due-date-input {
  font-size: 15px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: var(--clr-bg-stone-50);
}

.add-todo-button {
  flex: 1;
  cursor: pointer;
  text-align: center;
  align-self: center;
  padding: 5px 0;
  background-color: var(--clr-bg-stone-50);
}

.todolist-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(10, 0, 148);
}

@media (max-width:900px){
  .list-name-container, .list-container{
    width: 90%;
    margin: 10px auto;
  }
  .input-list-name, .name-input, .due-date-input {
    border-radius: none;
  }
}
