  <!--content-->
  <div class="container my-4 products-list">
    <div class="row g-3 products-container">
      <!--
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="card-img-top m-auto"><img id="img-" class="photo" src="./png/laptop2.jpg"></div>
          </div>
          <div class="card-body">
            <div class="price-ratings-container">
              <div class="price">
                <small class="price-currency">$</small>
                <div class="price-int">59</div>
                <div class="price cents">99</div>
              </div>
              <div class="rating"> 
                <input type="radio" name="rating" value="5" id="5">
                <label for="5">☆</label> 
                <input type="radio" name="rating" value="4" id="4">
                <label for="4">☆</label> 
                <input type="radio" name="rating" value="3" id="3">
                <label for="3">☆</label> 
                <input type="radio" name="rating" value="2" id="2">
                <label for="2">☆</label> 
                <input type="radio" name="rating" value="1" id="1">
                <label for="1">☆</label>
              </div>
            </div>
            <div class="card-title h3">ASUS ROG Strix G16 (2023) Gaming Laptop</div>
            -->
      <!--
      <div class="card-subtitle h5">16” Nebula Display 16:10 QHD 240Hz, GeForce RTX 4070, Intel Core i9-13980HX, 32GB DDR5, 1TB PCIe SSD, Wi-Fi 6E, Windows 11 Pro, G614JI-XS96,Eclipse Gray</div>
      -->
      <!--
            <div class="card-text">
              <a href="#text1" class="btn-sm btn-primary dropdown-toggle" data-bs-toggle="collapse">Show more</a>
              <div id="text1" class="collapse">
                <p>
                  <b>Brand:</b> ASUS
                  <br>
                  <b>Model Name:</b> ROG Strix G16
                  <br>
                  <b>Screen Size:</b>	16 Inches
                  <br>
                  <b>Color:</b> Eclipse Gray
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <div>Delivery Options</div>
              <form class="form-control d-flex p-0 m-0" action="">
                  <input type="number" class="form-control">
                  <button class="btn btn-primary"><img class="icons" src="./icons/cart.png"></button>
              </form>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="card-img-top"><img class="photo" src="./png/laptop.jpg"></div>
          </div>
          <div class="card-body">
            <div class="card-title h3">ASUS ROG Strix Scar 15 Gaming Laptop</div>
            <div class="card-subtitle">15.6” 240Hz IPS QHD Display, NVIDIA GeForce RTX 3070 Ti, Intel Core i9 12900H, 16GB DDR5, 1TB SSD, Per-Key RGB Keyboard, Windows 11 Home, G533ZW-AS94Q,Black</div>
            <div class="card-text">
              <p>
                Brand	ASUS
                Model Name	ROG Strix SCAR 15
                Screen Size	15.6 Inches
                Color	Black
              </p>
            </div>
          </div>
          <div class="card-footer">Footer</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="card-img-top"><img class="photo" src="./png/laptop2.jpg"></div>
          </div>
          <div class="card-body">
            <div class="card-title h3">ASUS ROG Strix G16 (2023) Gaming Laptop</div>
            <div class="card-subtitle">16” Nebula Display 16:10 QHD 240Hz, GeForce RTX 4070, Intel Core i9-13980HX, 32GB DDR5, 1TB PCIe SSD, Wi-Fi 6E, Windows 11 Pro, G614JI-XS96,Eclipse Gray</div>
            <div class="card-text">
              <p>
                Brand	ASUS
                Model Name	ROG Strix G16
                Screen Size	16 Inches
                Color	Eclipse Gray
              </p>
            </div>
          </div>
          <div class="card-footer">Footer</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="card-img-top"><img class="photo" src="./png/laptop.jpg"></div>
          </div>
          <div class="card-body">
            <div class="card-title h3">ASUS ROG Strix Scar 15 Gaming Laptop</div>
            <div class="card-subtitle">15.6” 240Hz IPS QHD Display, NVIDIA GeForce RTX 3070 Ti, Intel Core i9 12900H, 16GB DDR5, 1TB SSD, Per-Key RGB Keyboard, Windows 11 Home, G533ZW-AS94Q,Black</div>
            <div class="card-text">
              <p>
                Brand	ASUS
                Model Name	ROG Strix SCAR 15
                Screen Size	15.6 Inches
                Color	Black
              </p>
            </div>
          </div>
          <div class="card-footer">Footer</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="card-img-top"><img class="photo" src="./png/laptop2.jpg"></div>
          </div>
          <div class="card-body">
            <div class="card-title h3">ASUS ROG Strix G16 (2023) Gaming Laptop</div>
            <div class="card-subtitle">16” Nebula Display 16:10 QHD 240Hz, GeForce RTX 4070, Intel Core i9-13980HX, 32GB DDR5, 1TB PCIe SSD, Wi-Fi 6E, Windows 11 Pro, G614JI-XS96,Eclipse Gray</div>
            <div class="card-text">
              <p>
                Brand	ASUS
                Model Name	ROG Strix G16
                Screen Size	16 Inches
                Color	Eclipse Gray
              </p>
            </div>
          </div>
          <div class="card-footer">Footer</div>
        </div>
      </div>
      -->
      
    </div>
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
  </ul>