:root {
  --font-General-Sans: 'General Sans', sans-serif;
  --font-Roboto: 'roboto', Verdana, Geneva;
  --font-Supreme: 'Supreme', sans-serif;

  --clr-indigo-950: #082f49; /* sky */
  --clr-indigo-900: #0c4a6e;
  --clr-blue-100: #dbeafe;
  --clr-sky-700: #0369a1;

  --fs-3xl: clamp(32px,10vw,100px);
  --fs-2xl: clamp(20px,8vw,60px);
  --fs-xl: clamp(18px,6vw,40px);
  --fs-lg: clamp(16px,4vw,30px);
  --fs-md: clamp(14px,3vw,20px);
  --fs-sm: clamp(12px,4vw,16px);

  --p-sm: 2vw;
}

*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

/* Utility Classes */
.main-container{
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  overflow-wrap: break-word;
  min-height: 100vh;
}
.container-background {
  position: relative;
  background-color: black;
  height: 100vh;
}
.container-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}
.container-about {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container-experience {
  font-family: var(--font-Roboto);
}
.container-skills {
  padding: var(--p-sm);
}
.container-education{
  background-color: var(--clr-blue-100);
  padding: 10px 20px;
  font-family: var(--font-General-Sans);
}
.experience-subcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background-img {
  width: 100%;
  height: 100%;
}
.subcontainer-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-General-Sans);
}

.title-heading {
  font-size: var(--fs-3xl);
  font-weight: 100;
  text-align: center;
  color: white;
}
.title-subheading {
  font-size: var(--fs-xl);
  font-weight: 100;
  text-align: center;

  background: linear-gradient(to right, rgb(0, 255, 234), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s 0s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.col {
  width: 100%;
}

.box{
  position: relative;
  height: 300px;
  margin: 20px 0;
  padding-top: 20%;
  border-radius: 15px;
}

.icons {
  width: 70px;
}
.links-icon {
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}
.links-icon:hover {
  transform: scale3d(1.3, 1.3, 1);
  transition: all 1s;
}
.links-icon-about {
  cursor: pointer;
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  text-align: center;
}
.icons-about {
  width: 100px;
}
.links-text {
  font-size: max(2vw,20px);
  font-weight: 100;
  font-family: arial;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
.links-text-about {
  display: flex;
  height: 100%;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: max(2vw,20px);
  font-weight: 900;
  font-weight: 700;
  font-family: arial;
}

.box1{
  background-color: rgb(228, 228, 228);
  height: 200px;
}
.box2{
  background-color: rgb(112, 162, 255);
  height: 300px;
  color: white;
}
.box3{
  background-color: rgb(6, 38, 96);
  height: 250px;
  color: white;
}
.box4{
  background-color: rgb(204, 222, 255);
  height: 250px;
}
.box5{
  background-color: rgb(158, 192, 255);
  height: 250px;
}
.box6{
  background-color: rgb(19, 53, 116);
  height: 250px;
  color: white;
}
.box7{
  background-color: rgb(186, 210, 255);
  height: 200px;
}
.box8{
  background-color: rgb(211, 211, 211);
  height: 300px;
}
.box1 a, .box5 a, .box7 a, .box8 a {
  color: black;
}

.about-photo {
  width: 80%;
  height: 80%;
  z-index: 0;
}
.about-left {
  background-color: var(--clr-indigo-950);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header {
  background-color: var(--clr-indigo-950);
  padding: 20px;
  height: 15%;
  display: flex;
  align-items: center;
}

.about-name {
  font-family: var(--font-General-Sans);
  font-size: var(--fs-lg);
  font-weight: 100;
  color: white;
}

.about-body {
  background-color: rgb(189, 199, 255);
  padding: 5% 10%;
  font-family: var(--font-Supreme);
  font-size: var(--fs-sm);
  font-weight: 400;
  text-align: justify;
  height: 85%;
}

.about-statement {
  border-left: 5px solid rgb(0, 16, 85);
  background-color: rgb(159, 174, 255);
  padding: 20px;
}

.container-experience:nth-child(2n+1) .exp-col-right{
  grid-row: 1;
}

.header-experience-container{
  margin: 10px 0;
  display: flex;
  justify-content: right;
}

.header {
  font-size: var(--fs-xl);
  font-family: var(--font-General-Sans);
  font-weight: 100;
  color: white;
  text-align: center;
  padding: 10px 30px;
}

.header-experience {
  width: max(50%,250px);
  background-color: var(--clr-indigo-950);
  border-radius: 20px 0 0 20px;
}

.header-experience-container-left{
  margin: 10px 0;
  display: flex;
  justify-content: left;
}

.header-experience-left {
  width: max(50%,250px);
  background-color: var(--clr-indigo-950);
  border-radius: 0 20px 20px 0;
}
.exp-col-left{
  padding: 20px;
}
.exp-position{
  font-family: var(--font-Supreme);
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
}
.exp-period{
  font-family: var(--font-Supreme);
  font-weight: 200;
  font-size: 1.5em;
  text-align: center;
}

.exp-responsibilties{
  display: block;
  padding: 20px 10px;
  font-size: 1em;
  font-family: var(--font-Supreme);
  font-weight: 400;
  align-content: space-evenly;
}
.bullet{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  vertical-align: top;
  padding-top: 5px;
}
.bullet img {
  width: 20px;
  display: inline;
  padding: 0;
}

.exp-col-right{
  padding: 20px;
}
.exp-company {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-Supreme);
  font-weight: 200;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.exp-company-logo img {
 width: 50px;
}

.exp-photo{
  width: 90%;
  margin: 0 auto;
  padding: 0;
  font-size:0;
  line-height:0;
}
.exp-photo img{
  width: 100%;
  height: 100%;
}

.exp-photo-caption{
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: var(--clr-blue-100);
  font-size: 1em;
  font-family: var(--font-Supreme);
  font-weight: 300;
  text-align: center;
}

.header-skills {
  font-size: var(--fs-xl);
  font-weight: 100;
  font-family: var(--font-General-Sans);
  color: var(--clr-indigo-950);
  border-left: 10px solid var(--clr-indigo-900);
  padding: 20px;
  animation: 1.5s ease-out 1s 1 slideInLeft;
}

.subcontainer-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-skill {
  text-align: center;
  border: 2px solid var(--clr-indigo-900);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  font-weight: 100;
  font-size: 1.5em;
  font-family: monospace;
  transition: all 0.5s;
}

.item-skill:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.list-item {
  text-align: justify;
  border: 1px solid var(--clr-sky-700);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: 100;
  font-size: var(--fs-sm);
  font-family: var(--font-Supreme);
  font-weight: 400;
  transition: all 0.5s;
}

.list-item:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.item-skill img {
  width: 100px;
}

.container-skills-2 {
  background-color: var(--clr-blue-100);
}

.header-skills-2 {
  padding: 20px 0 0;
  font-family: var(--font-General-Sans);
  font-size: var(--fs-xl);
  font-weight: 100;
  text-align: center;
  color: var(--clr-indigo-950);
}

.container-skills-2 img {
  width: 50px;
  margin-right: 20px;
}

.container-skills-2 .item-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--clr-indigo-950);
}

.row-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--p-sm);
  padding: 0 var(--p-sm);
}

.skills-left, .skills-right {
  background-color: white;
  padding: 3%;
  margin: 3%;
}

.skills-title {
  font-family: var(--font-Supreme);
  font-weight: 400;
  font-size: var(--fs-lg);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.skills-body {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  font-size: var(--fs-sm);
  font-family: var(--font-Supreme);
  font-weight: 400;
  padding: 3%;
}

.education-header{
  font-size: var(--fs-2xl);
  font-weight: 200;
  color: var(--clr-indigo-950);
  text-align: center;
}
.education-subcontainer {
  max-width: 900px;
  margin: 0 auto;
}
.education-left {
  padding: 0 10px;
}

.university-block {
 display: flex;
 margin: 10px 0;
 align-items: center;
}
.university-block img {
  width: 150px;
  height: 75px;
  margin: 0 20px;
}
.education-university {
  padding: 0 10px;
  font-size: var(--fs-lg);
  font-weight: 400;
}
.education-location, .education-period {
  padding: 0 10px;
  font-size: var(--fs-md);
  font-weight: 300;
}

.education-row {
  margin: 2% 0;
}

.education-position{
  font-size: var(--fs-lg);
  font-weight: 400;
  padding: 5px 0;
  color: rgb(8, 37, 92);
}

.education-body {
  padding: 10px 0;
  font-family: var(--font-Supreme);
  font-weight: 400;
  font-size: var(--fs-md);
}

.container-contacts{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

.contacts-left {
  background-color: rgb(8, 37, 92);
}

.contacts-right img {
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 100%;
}

.header-contacts {
  color: white;
  font-family: var(--font-General-Sans);
  font-size: var(--fs-2xl);
  font-weight: 100;
  border-bottom: 2px solid white;
  text-align: center;
  padding: 5% 0;
}

.contacts-body {
  margin: 40px 0;
  align-items: center;
  color: white;
  font-family: var(--font-Supreme);
  font-weight: 300;
  font-size: var(--fs-md);
}

.contacts-item {
  width: 80%;
  margin: auto;
}

.contacts-mobile, .contacts-email, .contacts-linkedin, .contacts-address{
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.contacts-mobile img, .contacts-email img, .contacts-linkedin img, .contacts-address img{
  padding-right: 20px;
}

/* Animations */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes slideInLeft {
  0% { 
    transform: translateX(-100%);
  }
  100%  { 
    transform: translateX( 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX( 100%);
  }
  
  100% {
    transform: translateX( 0);
  }
}

/* Media Queriesb */
/* 2xl */
@media (max-width:1536p){
  .container {
    max-width: 1536px;
    font-size: 1.5rem;
  }
}
/* xl */
@media (max-width:1280px) {
  .container {
    max-width: 1280px;
    font-size: 1.5rem;
  }
}
/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    font-size: 1rem;
  }
  .row, .container-about, .row-skills, .experience-subcontainer, .education-subcontainer, .container-contacts {
    grid-template-columns: 1fr;
  }
}
/* md */
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    font-size: 0.8rem;
  }
}
/* sm */
@media (max-width: 640px) {
  .container {
    width: 100%;
    font-size: 0.8rem;
    overflow: auto;
  }
}
/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    font-size: 0.8rem;
    overflow: auto;
  }
}
